// .header .nav li a { 
// 	font-size: 12px !important; 
// 	-webkit-transition: all 0.4s ease-in-out;
//   	-moz-transition: all 0.4s ease-in-out;
//   	transition: all 0.4s ease-in-out;
// }

.header {
	height: 56px;
	.nav li a {
		height: 56px;
		line-height: 56px;
	}
}

#logo img {
	width: 200px;
	height: auto;
}